{% extends "account/base.html" %} {% block title %} Signup {% endblock %}
{%block content %}
<div class="container cont">
    <h2 class="text-primary text-center p-2">Sign Up</h2>
    {%if form.errors %}
  {%for field in form %}
  {%for error in field.errors %}
  <div class="text-red mb-2">
    <p>
      {{ error|escape }}
    </p>
  </div>
  {%endfor%}
  {%endfor%}
  {%endif%}
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">{{ form.username }}</div>
        </div>
        <div class="row">
            <div class="col-12">{{ form.email }}</div>
        </div>
        <div class="row">
            <div class="col-12">{{ form.password1 }}</div>
        </div>
        <div class="row">
            <div class="col-12">{{ form.password2 }}</div>
        </div>
        <div class="row">
            <div class="col-12 d-grid">
                <button class="btn btn-outline-primary">Sign up</button>
            </div>
        </div>
    </form>
    <p class="text-center mt-2">
        <span>don't have an account ?</span> <a href="{% url 'account:login' %}">signin</a>
    </p>
</div>
{% endblock %}
